{% extends 'base.html' %}

{% block content %}
    <h1>프로필</h1> <br>

    username : {{ member.username }} <br>
    date_joined : {{ member.date_joined }} <br>
    <br>

    <a href="{% url 'accounts:update' %}"><button>회원정보 수정</button></a>
    <a href="{% url 'accounts:change_password' %}"><button>비밀번호 변경</button></a> <br>
    <br>

    {% if request.user == member %}
        내가 찜한 맛
        {% for product in member.like_products.all %}
            <ul>
                <a href="{% url 'products:product_detail' product.pk %}">{{ product.flavor }}</a>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock content %}