{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body style="background-color: rgb(253 248 231) !important;">
    <nav class="navbar bg-body-tertiary align-text-middle" style="background-color: rgb(253 248 231) !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static 'image/LOGO.png' %}" alt="Logo" width="50" height="50" class="d-inline-block align-text-middle">
            Sparta Icecream
          </a>
          <div class="">
            {% if user.is_staff %}
              <a href="{% url 'products:create' %}"><button type="button">상품 추가</button></a>
            {% endif %}
            {% if request.user.is_authenticated %}
              <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  프로필
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                  <li><a class="dropdown-item" href="#">프로필</a></li>
                  <li><a class="dropdown-item" href="{% url 'accounts:update' %}">회원정보수정</a></li>
                  <li>
                    <form action="{% url 'accounts:logout' %}" method="POST">
                      {% csrf_token %}
                      <button class="dropdown-item" type="submit">로그아웃</button>
                    </form>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <form action="{% url 'accounts:delete' %}" method="POST">
                      {% csrf_token %}
                      <button class="dropdown-item">회원탈퇴</button>
                    </form>
                  </li>
                </ul>
              </div>
            {% else %}
              <a href="{% url 'accounts:signup' %}"><button type="button">가입</button></a>
              <a href="{% url 'accounts:login' %}"><button type="button">로그인</button></a>
            {% endif %}
          </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">

    </div>
    {% if messages %}
    <script>
        var displayedMessages = [];
        {% for message in messages %}
            if (!displayedMessages.includes("{{ message }}")) {
                alert("{{ message }}");
                displayedMessages.push("{{ message }}");
            }
        {% endfor %}
    </script>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>